body {
  overflow:hidden;
  color:rgb(205,205,205);
}
.splashscreen {
  height:100vh;
  width:100vw;
  margin:0px;
  padding:0px;
  box-sizing:border-box;
  
}
.loader {
  width:100vw;
}
.loader .wrapper span {
  width:5px;
  height:5px;
  background-color:rgb(205,205,205);
  display:inline-block;
  position:relative;
  margin:0px 2px;
  border-radius:50%;
  opacity:0;
  animation:loading 3000ms infinite;
}
.loader .wrapper span:nth-child(5) {
  animation-delay:100ms;
}
.loader .wrapper span:nth-child(4) {
  animation-delay:200ms;
}
.loader .wrapper span:nth-child(3) {
  animation-delay:300ms;
}
.loader .wrapper span:nth-child(2) {
  animation-delay:400ms;
}
.loader .wrapper span:nth-child(1) {
  animation-delay:500ms;
}
@keyframes loading {
  0% {
    transform:translateX(-350px);
    opacity:0;
    animation-timing-function: ease-out;
  }
  10% {
    opacity:0;
  }
  30%{
    transform:translateX(-40px);
    opacity:1;
    animation-timing-function: linear;
  }
  60% {
    transform:translateX(40px);
    opacity:1;
    animation-timing-function: linear;
  }
  80% {
    opacity:0;
  }
  90% {
    transform:translateX(350px);
    opacity:0;
    animation-timing-function: ease-out;
  }  
}