a, a:hover,
.link, .link:hover {
  text-decoration: none;
  cursor: pointer;
}

a .spieler-farbe-selector.active,
a .spieler-farbe-selector.active:hover,
a .spieler-farbe-selector:hover {
  border: 2px solid;
  margin: 5px 10px 5px 0px;
}

a .spieler-farbe-selector {
  border: 1px solid;
  margin: 6px 11px 6px 1px;
}

/* SPIELER FARBE */

.spieler-farbe-green {
  color: #155724;
  background-color: #d4edda !important; 
}

.spieler-farbe-red {
  color: #721c24;
  background-color: #f8d7da !important; 
}

.spieler-farbe-yellow {
  color: #856404;
  background-color: #fff3cd !important; 
}

.spieler-farbe-blue {
  color: #0c5460;
  background-color: #d1ecf1 !important; 
}

.spieler-farbe-light {
  color: #818182;
  background-color: #fefefe !important; 
}

/* DISPLAY-NONE */

.display-none {
  display: none;
}

/* SIDEBAR */

.details-sidebar {
  position: fixed;
  height: 100vh;
  top: 110px; /* Stay at the top */
  right: 10px;
  width: 500px;
  z-index: 3;
}

.details-sidebar .card {
  height: calc(100vh - 130px);
}

/* EDITOR */

.editor-container {
  margin-top: 80px;
}

.mannschafts-row {
  margin: 30px 0;
}

.mannschaft {
  width: 420px;
  margin: 0 auto;
}

.mannschaft-header, .spieler, .mannschaft-footer {
  padding: .25rem .5rem
}

.invalid {
  border: 2px solid !important;
  border-color: #dc3545 !important;
}

.mannschaft-invalid .mannschaft-header {
  color: #dc3545 !important;
}

.mannschaft-invalid .invalid {
  border-left: 0px solid !important;
  border-right: 0px solid !important;
}

.mannschaft .spielerliste {
  min-height: 25px;
}

/* SPIELER INVALID */

.spieler-invalid {
  color: #dc3545 !important;
  z-index: 2; /* disables flickering of border bottom when hovering of the invalid spieler */
}

.spieler-invalid-icon,
.mannschaft-invalid-icon {
  display: none;
  margin-right: -40px;
}

.spieler-invalid .spieler-invalid-icon,
.mannschaft-invalid .mannschaft-invalid-icon {
  display: inline-block;
}

.spieler-invalid .ttr-difference {
  margin-right: 8px;
}

.spieler.highlight-invalid .spieler-name {
  font-weight: bold;
}

/* SPIELER COLUMNS */

.spieler-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ttr-difference {
  min-width: 60px;
}

.ttr-wert input {
  max-width: 90px;
}

/* SPIELER SPV */

.spv {
  display: none;
  padding: .25em .8em;
  cursor: default
}

.spv-possible .spv,
.spv-highlight .spv,
.spv-set .spv {
  display: inline-block
} 

.edit-tooltip {
  background: #fff!important;
  color: #6c757d!important;
  margin-left: -10px;
}

/* WEBVIEW */

.modal-body {
  height: 70vh
}